body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

td {
  text-align: center;
  border-style: solid;
  border-width: 5px;
  margin: auto;
  padding: 50px;
}

.box {
font-size: 35px;
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 10%;
width: 40%;
height: 40%;
}
